* {
    box-sizing: border-box;
}

#github-link{
    display: flex;
    gap: 1em;
    justify-content: center;
    margin: 1em;
}

#button-menu {
    display: flex;
    justify-content: center;
    margin: 1em;
    flex-wrap: wrap;
}

#repository, #theme {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 2em;
    font-size: 1em;
    font-weight: 600;
    color: #ffffff;
    background: #1c1a1c00;
    max-width: 900px;
    width: calc(100% - 80px); 
    margin: 0 auto; 
    transition: all 450ms ease-in-out;
}

#repository:hover, #theme:hover {
    color: blueviolet;
    border-color: #683FEA;
    box-shadow: 0px 0px 0px 4px #683FEA;
    border-radius: 15px;
    box-shadow: 2px 2px 44px 0px rgba(136, 0, 255, 0.174);
    -webkit-box-shadow: 2px 2px 44px 0px rgba(136, 0, 255, 0.252);
    -moz-box-shadow: 2px 2px 44px 0px rgba(136, 0, 255, 0.344);
}


#theme {
    margin-top: 10px;
}



.menu-btn {
    margin: .25em;    
    border: none;
    padding: .5em;
    border-radius: 3em;
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
    align-items: center;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
}

.menu-btn:hover {
    color: white;
    background: linear-gradient(0deg,#5a07ff,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.073),
    0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
}


body {
    background-color: #000000;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    margin: auto 0;
    padding: 0;
}

.error {
    color: red;
    text-align: center;
    margin: 0 auto;
    margin-top: -30px;
    box-shadow: red;
    margin-bottom: 50px;
}

.title{
    color: #ffffff;
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
}
